services:
  app:
    image: mcr.microsoft.com/devcontainers/base:ubuntu
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      - REDIS_PORT=6379
      - CELERY_BROKER_URL=redis://redis:6379/0
      - POSTGRES_PORT=5432
      - DATABASE_URL=postgres://vector:vector@postgres:5432/vector

  redis:
    ports: !override []

  postgres:
    ports: !override []
